.footer {
    background-color: var(--background-footer);
    .footer_container {
      font-size: 14px;
      line-height: 1.14;
      color: var(--textcolor-footer);
      text-align: center;
      padding-top: 29px;
      padding-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
     
    }
  
   
  }
  
  
 