.footer {
    background-color: var(--background-footer);
    .footer_container {
      font-size: 14px;
      line-height: 1.17;
      color: var(--textcolor-footer);
      text-align: center;
      padding-top: 29px;
      padding-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
     
    }
  
   
  
  
  @media screen and (min-width: $tablet){
    font-size: 16px;
  line-height: 1.17;
  padding-top: 30px;
  }
  .footer__icon {
    margin-left: 10px;
    margin-right: 10px;
    animation: pulsation 4s linear 1s infinite;
  }

.footer__button {
  border: none;
  background: transparent;
  color: var(--textcolor-footer);

  padding: 10px 0;

  text-decoration: underline;
  cursor: pointer;
  transition: color 300ms var(--timing-function);
  &:hover,
  :focus {
    color: var(--text-films-second);
  }
}
}