.toolbar {
  position: absolute;
  left: calc(50% - 61px);
  top: 10px;
  // padding: 12px 12px;
  z-index: 0;
  @media screen and (max-width: 450px) {
    left: calc(35% - 61px);
    top: 15px;
  }
}

.theme-switch {
  display: flex;
  align-items: center;
  z-index: 0;
}

.theme-switch__icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: rgb(227, 209, 209);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: rgb(171, 48, 48);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: black;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 50px;
  height: 15px;
  border-radius: 50em;
  padding: 3px 0;
}

body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.dark-theme {
  background-color: #333333;
  color: var(--text-main-color);
  .card__title{
    color: var(--text-main-color);
  }
}

.header {
  height: 230px;
  width: 100vw;
  min-width: 356px;//костыль но без него почему-то на 320px съезжает фон
  position: relative;
  background-image: url(/src/images/pictures/jpeg/header-comp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.56);
  background-size: cover;

  @media screen and (max-width: 767px) {
    background-image: url(/src/images/pictures/jpeg/header-mobile.jpg);
    height: 230px;
    width: 100vw;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/pictures/jpeg/header-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(/src/images/pictures/jpeg/header-tablet.jpg);
    height: 216px;
    width: 100vw;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/pictures/jpeg/header-tablet@2x.jpg);
    }
  }

  &__link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.header-main-container,
.header-library-container {
  padding-top: 20px;
  // padding-left: 20px;
  // padding-right: 20px;

  // @media screen and (min-width: 768px) {
  //   padding-left: 32px;
  //   padding-right: 32px;
  // }
}

.library-header {
  height: 230px;
  width: 100vw;
  position: relative;
  background-image: url(/src/images/pictures/jpeg/hall-comp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.56);
  background-size: cover;

  @media screen and (max-width: 767px) {
    background-image: url(/src/images/pictures/jpeg/hall-mobile.jpg);
    height: 230px;
    width: 100vw;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/pictures/jpeg/hall-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(/src/images/pictures/jpeg/hall-tablet.jpg);
    height: 216px;
    width: 100vw;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/pictures/jpeg/hall-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(/src/images/pictures/jpeg/hall-comp@2x.jpg);
  }
  &__link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.main-nav {
  color: var(--text-main-color);
  display: flex;
}

.nav-block {
  display: flex;
  align-items: center;
}

.nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.active{
  border-bottom: 2px solid #ff6b02;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--text-main-color);
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    text-align: center;
  }
}

.main-nav__btn {
  margin-left: 40px;
}

.main-nav__btn:hover,
.main-nav__btn:hover {
  border-bottom: 2px solid var(--text-clr-second);
}

.header__list {
  display: flex;
  align-items: center;
  font-style: 500;
  font-size: 12px;
  line-height: 1;
  color: white;
}
.header__list-item {
  margin-right: 39px;

  &:last-child {
    margin-right: 0;
  }
  .current::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 6px;
    transform: translate(-50%, 0%);
    background-color: var(--text-clr-second);
    width: 100%;
    height: 3px;
  }
}
.search-form {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;

  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   align-items: center;
  // }
}

.search-input {
  position: relative;
  font-size: 14px;
  width: 80vw;
  height: 20px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 0.5px solid white;
  caret-color: white;
  color: white;

  @media screen and (min-width: 768px) {
    width: 325px;
  }
  @media screen and (min-width: 1280px) {
    width: 385px;
  }

  &:hover,
  &:focus {
    border-color: var(--text-clr-second);
    transition: color 300ms var(--timing-function);
  }
}

.search-input::placeholder {
  color: #ffffff;
}

.input-field {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 7.5%;
  @media screen and (min-width: 768px) {
    display: block;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
  }
}
.search-btn {
  position: absolute;
  background: none;
  border: none;
}
.search-btn:hover,
.search-btn:focus {
  stroke: var(--text-clr-second);
  fill: var(--text-clr-second);
}
.button-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 65px;
}
.button-list__switch {
  text-transform: uppercase;
  font-weight: 500;
  width: 130px;
  height: 45px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  &:hover,
  &:focus,
  :active {
    background-color: #ff6b08;
    border-color: #ff6b02;
  }
}

.genre-filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: center;
  // @media screen and (min-width: 168px) {
  //   justify-content: center;
  // }
}

.ganre-list {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.genres-btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 13px 41px 11px 41px;
  margin: 0 auto;
  // border: none;
  background: transparent;
  // border-bottom: 0.5px solid white;
  // caret-color: white;
  // color: white;
  display: block;

  &:hover,
  &:focus,
  :active {
    background-color: #ff6b08;
    border-color: #ff6b02;
  }
}

// .genres-btn:hover,
// .genres-btn:focus {
//   color: var(--text-clr-second);
// }

.checkbox {
  // border-bottom: 0.5px solid white;
  color: white;
}
