.header {
max-height: 230px;
margin-bottom: 30px;
  background-image: url(/src/images/pictures/jpeg/header-comp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.56);
  background-size: cover;

}


.main-nav {
  margin-bottom: 44px;
  color: var(--text-main-color);
  display: flex;
  align-items: center;
justify-content: space-between;
}
  .logo {
    display: flex;
    align-items: center;
    color:  var(--text-main-color);
    gap: 10px;

  }
  .main-nav__btn {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-main-color);
  
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-nav__btn {
    margin-right: 39px;
  
    &:last-child {
      margin-right: 0;
    }
  }