li {
  list-style-type: none;
  
}
.gallery{
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
    flex-wrap: wrap;
  @media screen and (min-width: $comp) {
      margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
}
.film-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
      width: 100%;
    justify-content: center;
    

  
    @media screen and (min-width: $tablet) {
      min-width: 728px;
      // margin-left: 32px;
        // margin-bottom: 32px;
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 32px;
    }

    @media screen and (min-width: $comp) {
    
    
        display: flex;
        flex-wrap: wrap;
        // margin-left: 16px;
          // margin-bottom: 32px;
          gap: 16px;
          
    }
  }
  
@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  100% {
    transform: perspective(400px) rotateY(15deg);
  }
}


.card{
  box-sizing: content-box;
  display: flex;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  // width: 100%;
  justify-content: center;
   margin-bottom: 20px;
  border-radius: 5px;
  
  @media screen and (min-width: $tablet){
    width: 336px;
    
  }
        @media screen and (min-width: $comp) {
          width: 292px;
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          margin: 0;
          padding: 0;
          flex-direction: row;
          margin-bottom: 16px;
          // &:hover {
          //     box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
              
          //   }
        }
}

.rotateY{
  @media screen and (min-width: $comp){
  &:hover {
  
      animation: rotateY 1500ms infinite alternate ease-in-out 500ms;
  }
    }
}


.card__img{
  height: 465px;
  min-width: 280px;
  width: 100%;
    margin-bottom: 10px;
  border-radius: 5px;
    @media screen and (min-width: $tablet) {
        height: 558px;
        width: 336px;
    
      }
    @media screen and (min-width: $comp) {
      height: 485px;
      width: 292px;
    }
  
    }
.card__wrapper{
  padding: 0 0 7px 7px;
}
.card__title {
  font-style: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--text-films-main);
}

.card__info {
  font-style: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--text-films-second);
}
