.button {
   display: flex;
   justify-content: center;
   align-items: center;

   font-family: inherit;
   padding: 13px 20px;
   height: 44px;

   font-weight: 500;
   font-size: 12px;
   line-height: 16px;
   text-align: center;
   text-transform: uppercase;

   border-radius: 5px;
   border: none;

   cursor: pointer;

   color: var(--text-main-color);
   background-color: var(--text-films-second);
}