.allert-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: default;
  border-radius: 4px;
  // background: rgb(171, 48, 48);
  background: linear-gradient(
    135deg,
    rgba(171, 48, 48, 1) 0%,
    rgba(227, 209, 209, 1) 0%,
    rgb(227, 209, 209, 1) 5%,
    rgba(171, 48, 48, 1) 5%,
    rgba(171, 48, 48, 1) 10%,
    rgba(227, 209, 209, 1) 10%,
    rgba(227, 209, 209, 1) 15%,
    rgba(171, 48, 48, 1) 15%,
    rgba(171, 48, 48, 1) 20%,
    rgba(227, 209, 209, 1) 20%,
    rgba(227, 209, 209, 1) 25%,
    rgba(171, 48, 48, 1) 25%,
    rgba(171, 48, 48, 1) 30%,
    rgba(227, 209, 209, 1) 30%,
    rgba(227, 209, 209, 1) 35%,
    rgba(171, 48, 48, 1) 35%,
    rgba(171, 48, 48, 1) 40%,
    rgba(227, 209, 209, 1) 40%,
    rgba(227, 209, 209, 1) 45%,
    rgba(171, 48, 48, 1) 45%,
    rgba(171, 48, 48, 1) 50%,
    rgba(227, 209, 209, 1) 50%,
    rgba(227, 209, 209, 1) 55%,
    rgba(171, 48, 48, 1) 55%,
    rgba(171, 48, 48, 1) 60%,
    rgba(227, 209, 209, 1) 60%,
    rgba(227, 209, 209, 1) 65%,
    rgba(171, 48, 48, 1) 65%,
    rgba(171, 48, 48, 1) 70%,
    rgba(227, 209, 209, 1) 70%,
    rgba(227, 209, 209, 1) 80%,
    rgba(171, 48, 48, 1) 80%,
    rgba(171, 48, 48, 1) 85%,
    rgba(227, 209, 209, 1) 85%,
    rgba(227, 209, 209, 1) 90%,
    rgba(171, 48, 48, 1) 90%,
    rgba(171, 48, 48, 1) 95%,
    rgba(227, 209, 209, 1) 95%,
    rgba(227, 209, 209, 1) 100%,
    rgba(171, 48, 48, 1) 100%
  );
  font-size: 14px;
  color: var(--text-films-main);

  @media screen and (min-width: 320px) {
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 28px;
  }
}
.not-found {
  font-size: 14px;
  color: var(--text-films-main);

  @media screen and (min-width: 320px) {
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 28px;
  }
}
