  :root {
    // colors
    --text-main-color:#FFFFFF;
    --text-clr-second: #FF001B;
    --text-films-main:#000000;
    --text-films-second:#FF6B08;
  }

    // breakpoints
    $mobile: 320px;
    $tablet: 768px;
    $comp: 1280px;