body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --text-main-color:#FFFFFF;
  --text-clr-second: #FF001B;
  --text-films-main:#000000;
  --text-films-second:#FF6B08;
  --background-footer: #F7F7F7;
  --textcolor-footer: #545454;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  padding: 13px 20px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--text-main-color);
  background-color: var(--text-films-second);
}

.toolbar {
  left: 0px;
  bottom: 300px;
  padding: 12px 12px;
  z-index: 0;
}

.theme-switch {
  display: flex;
  align-items: center;
  z-index: 0;
}

.theme-switch__icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgb(227, 209, 209);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: rgb(171, 48, 48);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: black;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 50px;
  height: 15px;
  border-radius: 50em;
  padding: 3px 0;
}

body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

.header {
  height: 230px;
  width: 100vw;
  position: relative;
  background-image: url(/src/images/pictures/jpeg/hall-comp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.56);
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .header {
    background-image: url(/src/images/pictures/jpeg/hall-mobile.jpg);
    height: 230px;
    width: 100vw;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/pictures/jpeg/hall-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(/src/images/pictures/jpeg/hall-tablet.jpg);
    height: 216px;
    width: 100vw;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/pictures/jpeg/hall-tablet@2x.jpg);
  }
}
.header__link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header-main-container,
.header-library-container {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .header-main-container,
.header-library-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.library-header {
  height: 230px;
  width: 100vw;
  position: relative;
  background-image: url(/src/images/pictures/jpeg/hall-comp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.56);
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .library-header {
    background-image: url(/src/images/pictures/jpeg/hall-mobile.jpg);
    height: 230px;
    width: 100vw;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .library-header {
    background-image: url(/src/images/pictures/jpeg/hall-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .library-header {
    background-image: url(/src/images/pictures/jpeg/hall-tablet.jpg);
    height: 216px;
    width: 100vw;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .library-header {
    background-image: url(/src/images/pictures/jpeg/hall-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .library-header {
    background-image: url(/src/images/pictures/jpeg/hall-comp@2x.jpg);
  }
}
.library-header__link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main-nav {
  color: var(--text-main-color);
  display: flex;
}

.nav-block {
  display: flex;
  align-items: center;
}

.nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--text-main-color);
}
@media screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-left: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    text-align: center;
  }
}

.main-nav__btn {
  margin-left: 40px;
}

.main-nav__btn:hover,
.main-nav__btn:hover {
  border-bottom: 2px solid var(--text-clr-second);
}

.header__list {
  display: flex;
  align-items: center;
  font-style: 500;
  font-size: 12px;
  line-height: 1;
  color: white;
}

.header__list-item {
  margin-right: 39px;
}
.header__list-item:last-child {
  margin-right: 0;
}
.header__list-item .current::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  transform: translate(-50%, 0%);
  background-color: var(--text-clr-second);
  width: 100%;
  height: 3px;
}

.search-form {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  position: relative;
  font-size: 14px;
  width: 80vw;
  height: 20px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 0.5px solid white;
  caret-color: white;
  color: white;
}
@media screen and (min-width: 768px) {
  .search-input {
    width: 325px;
  }
}
@media screen and (min-width: 1280px) {
  .search-input {
    width: 385px;
  }
}
.search-input:hover, .search-input:focus {
  border-color: var(--text-clr-second);
  transition: color 300ms var(--timing-function);
}

.search-input::-moz-placeholder {
  color: #ffffff;
}

.search-input:-ms-input-placeholder {
  color: #ffffff;
}

.search-input::placeholder {
  color: #ffffff;
}

.input-field {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 7.5%;
}
@media screen and (min-width: 768px) {
  .input-field {
    display: block;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .input-field {
    width: 395px;
  }
}

.search-btn {
  position: absolute;
  background: none;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  stroke: var(--text-clr-second);
  fill: var(--text-clr-second);
}

.button-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 65px;
}

.button-list__switch {
  text-transform: uppercase;
  font-weight: 500;
  width: 130px;
  height: 45px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 13px 41px 11px 41px;
}
.button-list__switch:hover, .button-list__switch:focus,
.button-list__switch :active {
  background-color: #ff6b08;
  border-color: #ff6b02;
}

.genre-filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
@media screen and (min-width: 168px) {
  .genre-filter {
    justify-content: center;
  }
}

.ganre-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.genres-btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 13px 41px 11px 41px;
  margin: 0 auto;
  background: transparent;
  display: block;
}
.genres-btn:hover, .genres-btn:focus,
.genres-btn :active {
  background-color: #ff6b08;
  border-color: #ff6b02;
}

.checkbox {
  border-bottom: 0.5px solid white;
  color: white;
}

li {
  list-style-type: none;
}

.gallery {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .gallery {
    margin-left: auto;
    margin-right: auto;
    width: 1216px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 60px;
  }
}

.film-card {
  display: block;
  padding-bottom: 16px;
  margin: 0 auto;
  max-width: 727px;
  cursor: pointer;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .film-card {
    min-width: 728px;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .film-card {
    min-width: 1280px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0px;
  }
}

.film-photo {
  flex-grow: 1;
  max-width: 100%;
  margin: 0 auto 8px;
  border-radius: 5px;
}

.card {
  min-width: 280px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .card {
    width: 336px;
    display: inline-flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    width: 296px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
    padding: 0;
  }
}

.card__img {
  height: 490px;
}

.film-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
}

.film-genre {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--text-films-second);
}

.footer {
  background-color: var(--background-footer);
}
.footer .copyright {
  font-size: 14px;
  line-height: 1.17;
  color: var(--textcolor-footer);
  text-align: center;
  padding-top: 29px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 1.17;
    padding-top: 30px;
  }
}
.footer .footer__icon {
  margin-left: 10px;
  margin-right: 10px;
}
.footer .footer__button {
  border: none;
  background: transparent;
  color: var(--textcolor-footer);
  -webkit-animation: pulsation 4s linear 1s infinite;
          animation: pulsation 4s linear 1s infinite;
  padding: 10px 0;
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
  transition: color 300ms var(--timing-function);
}
.footer .footer__button:hover,
.footer .footer__button :focus {
  color: var(--text-films-second);
}
.footer .footer__button.dark {
  color: #fff;
  background: #191919;
}/*# sourceMappingURL=index.css.map */