<div class="visually-hidden modal__backdrop">
  <div class="modal">
    <!-- <div class="modal__img-thumb">
      <img
        class="modal__img"
        src="https://www.film.ru/sites/default/files/styles/thumb_260x400/public/movies/posters/10032141-925032.jpg"
        alt="film banner"
      />
    </div>
    <div class="modal__info">
      <h2 class="modal__title"></h2>
      <div class="modal__table"></div>
      <h3 class="modal__about">about</h3>
      <p class="modal__descr"></p>
      <ul class="modal__btns">
        <li>
          <button type="button" class="button wtchd_btn">
            add to Watched
          </button>
        </li>
        <li>
          <button type="button" class="button queue_btn">add to queue</button>
        </li>
      </ul>
    </div> -->
    <button type="button" class="modal__close"></button>
  </div>
</div>
