<header class="library-header">
  <div class="container">
    <div class="header-library-container">
      <div class="nav-container">
        <div class="nav-block">
          <a class="logo" href="./index.html"
            ><svg class="header-svg" width="24" height="24">
              <use href="/src/images/icons.svg#icon-film"></use>
            </svg>
            <span class="filmoteka">Filmoteka</span>
          </a>
        </div>
        <nav class="main-nav">
          <a class="main-nav__btn home" href="./index.html"
            ><span class="nav-link">Home</span></a
          >
          <a class="main-nav__btn" href="./My-libruary.html"
            ><span class="nav-link active">my library</span></a
          >
        </nav>
      </div>
      <ul class="button-list">
        <li class="button-list__item">
          <button
            class="button-list__switch button-list__switch--watched is-active"
          >
            Watched
          </button>
        </li>
        <li class="button-list__item">
          <button class="button-list__switch button-list__switch--queue">
            Queue
          </button>
        </li>
      </ul>
      <button class="button-clearer">clear all</button>
    </div>
  </div>
</header>
<div class="toolbar">
  <div class="theme-switch">
    <svg
      class="theme-switch__icon"
      width="20"
      height="20"
      role="img"
      aria-label="Солнце"
    >
      <use href="/src/images/icons.svg#icon-sun"></use>
    </svg>

    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="Переключить между тёмной и светлой темой"
      />
      <label
        aria-hidden="true"
        class="theme-switch__track"
        for="theme-switch-toggle"
      >
      </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>

    <svg class="theme-switch__icon" width="20" height="20" aria-label="Луна">
      <use href="/src/images/icons.svg#icon-moon-o"></use>
    </svg>
  </div>
</div>
